#userDetailsPage {
  #actions {
    display: flex;
    align-items: center;

    &:hover {
      .action-icon {
        display: unset;
      }
    }

    h3 {
      flex: 1;
      margin-bottom: 20px;
    }

    .action-icon {
      display: none;
      cursor: pointer;
      margin-left: 20px;
    }
  }
}