@import "src/app/styles/consts";

#userDetailsPage {
  margin-top: 5vh;

  #actions {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover {
      .action-icon {
        visibility: visible;
      }
    }

    h3 {
      flex: 1;
    }

    .action-icon {
      visibility: hidden;
      cursor: pointer;
      margin-left: 20px;
    }
  }

  #editActions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #userDetails {
    width: 100%;

    &.edit-mode {
      input {
        width: 93%;
      }

      td {
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }

    border-spacing: 0 2px;

    th {
      padding-right: 150px;
    }

    tr {
      background: white;
    }

    td {
      padding: 20px 40px;
      background: white;
    }

    .required {
      color: $error-colour;
    }
  }
}