.success {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  background: green;
  border-radius: 20px;
  padding: 5px 20px;
  top: 20px;
  left: 40%;

  span,
  svg {
    color: white;
  }

  svg {
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
  }
}